<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ENQUIRY | Accessibility</title>
        <link href="/assets/css/accessibility.css" rel="stylesheet" type="text/css" />
        <script src="/assets/lib/vue.js"></script>
        <script src="/assets/js/bundle.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png" />

        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <div id="app" v-bind:class="{'reduceNoise': accessibility.reduceNoise}">
            <nav>
                <a v-bind:href="'/' + lang + '/'">ENQUIRY</a>
                <div style="text-align: right;" v-if="!userCTX.isLoggedIn(false)"><a v-bind:href="'/' + lang + '/login'" class="inline">{{lang.term('login')}}</a> {{lang.term('or')}} <a v-bind:href="'/' + lang + '/register'" class="inline">{{lang.term('signup')}}</a></div>
                <div style="text-align: right;" v-else><a @mouseup="userCTX.logout()" @touchend="userCTX.logout()">{{lang.term('logout')}}</a></div>
            </nav>
            <section id="landing">
                <svg v-if="!accessibility.reduceNoise" class="background" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline class="gray-fill" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <h1 v-if="!accessibility.reduceNoise" class="no-select center" id="background-accent">EQY</h1>
                <div class="no-select center" id="read-more" @click="readMore">
                    <p>{{lang.term('readmore')}}</p>
                    <svg viewBox="0 0 100 20" preserveAspectRatio="none" style="overflow: visible; height: 20px; width: 100px; display: block;">
                        <polyline fill="none" style="stroke: black; stroke-width: 1px" points="0,0 50,20 100,0"></polyline>
                    </svg>
                </div>
                <div class="center" style="text-align: center;" id="title">
                    <h2>{{lang.term('accessibilitysettings')}}</h2>
                    <p>{{lang.term('how_help')}}</p>
                </div>
            </section>
            <section v-bind:class="{'gray-bg': !accessibility.reduceNoise}" style="display: block; width: 100%">
                <div style="width: 90%; margin: 0 auto;">
                    <h2 style="margin: 0; padding: 10px 0">{{lang.term('language')}}</h2>
                    <div class="card" style="margin-bottom: 10px;">{{accessibility.language.name}} ({{lang.term('selected')}})</div>
                    <hr />
                    <div class="card can-hover" v-for="language in Language.options()" v-if="accessibility.language != language" style="cursor: pointer;" @click="accessibility.setLanguage(language)">{{language.name}}</div>
                </div>
            </section>
            <footer>
                <svg v-bind:class="{'gray-bg': !accessibility.reduceNoise}" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline fill="white" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <section id="footer">
                    <h2>ENQUIRY</h2>
                    <a v-bind:href="'/' + lang + '/accessibility'">{{lang.term('accessibilitysettings')}}</a>
                    <a href="https://github.com/154852/iMedia">{{lang.term('contactus')}}</a>
                </section>
            </footer>
        </div>
        <script src="/assets/js/accessibility.js"></script>
    </body>
</html>