<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ENQUIRY | Game</title>
        <link href="/assets/css/game.css" rel="stylesheet" type="text/css" />
        <script src="/assets/lib/vue.js"></script>
        <script src="/assets/js/bundle.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png" />

        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <div id="app" v-bind:class="{'reduceNoise': accessibility.reduceNoise}">
            <nav>
                <a v-bind:href="'/' + lang + '/'">ENQUIRY</a>
                <div style="text-align: right;" v-if="!userCTX.isLoggedIn(false)"><a v-bind:href="'/' + lang + '/login'" class="inline">{{lang.term('login')}}</a> {{lang.term('or')}} <a v-bind:href="'/' + lang + '/register'" class="inline">{{lang.term('signup')}}</a></div>
                <div style="text-align: right;" v-else><a @mouseup="userCTX.logout()" @touchend="userCTX.logout()">{{lang.term('logout')}}</a></div>
            </nav>
            <svg id="stars" style="display: none;" version="1.1">
                <symbol id="stars-full-star" viewBox="0 0 102 18">
                    <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 5.657 6.243.907-4.517 4.404 1.066 6.218" />
                </symbol>

                <symbol id="stars-all-star" viewBox="0 0 102 18">
                    <use xlink:href="#stars-full-star" />
                    <use xlink:href="#stars-full-star" transform="translate(21)" />
                    <use xlink:href="#stars-full-star" transform="translate(42)" />
                    <use xlink:href="#stars-full-star" transform="translate(63)" />
                    <use xlink:href="#stars-full-star" transform="translate(84)" />
                </symbol>
            </svg>
            <section id="landing">
                <svg v-if="!accessibility.reduceNoise" class="background" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline class="gray-fill" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <h1 v-if="!accessibility.reduceNoise" class="no-select center" id="background-accent">EQY</h1>
                <div class="no-select center" id="read-more" @click="readMore">
                    <p>{{lang.term('readmore')}}</p>
                    <svg viewBox="0 0 100 20" preserveAspectRatio="none" style="overflow: visible; height: 20px; width: 100px; display: block;">
                        <polyline fill="none" style="stroke: black; stroke-width: 1px" points="0,0 50,20 100,0"></polyline>
                    </svg>
                </div>
                <div class="center" style="text-align: center;" id="title" v-if="game != null">
                    <h2>{{game.name}}</h2>
                    <p>{{lang.term('averagerating')}}:</p>
                    <svg class="star-icon" viewBox="0 0 102 18">
                        <use xlink:href="#stars-all-star" fill="#9b9b9b" v-for="i in (5 - game.averageStars)" v-bind:transform="'translate(' + (21 * (i - 1)) + ')'" />
                        <use xlink:href="#stars-full-star" fill="#424242" v-for="i in game.averageStars" v-bind:transform="'translate(' + (21 * (i - 1)) + ')'" />
                    </svg>
                </div>
            </section>
            <section v-bind:class="{'gray-bg': !accessibility.reduceNoise}" v-if="game != null" style="display: block; width: 100%;">
                <h2 style="text-align: center; margin-top: 0">{{lang.term('some_details')}}</h2>
                <div id="details">
                    <div class="grid" style="grid-template-columns: 150px 1fr; gap: 10px; min-height: 120px;">
                        <div style="position: relative;" class="card padded fix-height">
                            <div class="center" style="text-align: center;">
                                <p style="margin: 0;">Pegi</p>
                                <h2 style="margin: 0; font-size: 60px;">{{game.rating}}</h2>
                            </div>
                        </div>
                        <div class="card padded">
                            {{ game.description }}
                        </div>
                    </div>
                    <div class="grid" style="grid-template-columns: 1fr 1fr 1fr; gap: 10px; margin-top: 10px; height: 150px">
                        <div class="card fix-height"><img v-bind:src="game.images[1]" v-bind:alt="game.name" /></div>
                        <div class="card fix-height"><img v-bind:src="game.images[2]" v-bind:alt="game.name" /></div>
                        <div class="card fix-height"><img v-bind:src="game.images[3]" v-bind:alt="game.name" /></div>
                    </div>
                </div>
            </section>
            <section v-bind:class="{'gray-bg': !accessibility.reduceNoise}" style="display: inline-block; width: 100%;" v-if="game != null">
                <h2 style="text-align: center;">{{lang.term('reviews')}}</h2>
                <div class="review-box" id="make-review" v-bind:class="{'error': error != null}" v-if="userCTX.isLoggedIn(false)" @keyup="create.cache(game.id)">
                    <input type="text" class="title" v-bind:placeholder="lang.term('reviewtitle')" v-model="create.title" />
                    <svg viewBox="0 0 102 18" style="display: block; margin: 10px auto; height: 25px">
                        <use class="star-edit" xlink:href="#stars-full-star" v-for="i in 5" v-bind:transform="'translate(' + (21 * (i - 1)) + ')'" v-bind:class="{'selected': create.starRating >= i}" @click="create.starRating = i" />
                    </svg>
                    <textarea class="body" v-bind:placeholder="lang.term('whatdoyouthink')" v-model="create.body" rows="5"></textarea>
                    <button @click="createReview">{{lang.term('post')}}</button>
                    <p v-if="error != null" class="error-message">{{error}}</p>
                </div>
                <div class="review-box" style="text-align: center;" v-else>
                    <a v-bind:href="'/' + lang + '/login'" class="inline">{{lang.term('log_in_here')}}</a> {{lang.term('to_post_review')}}
                </div>
                <div v-for="review in game.reviews" class="review-wrapper">
                    <hr v-if="!accessibility.reduceNoise" />
                    <div class="review">
                        <h3>
                            <svg class="star-icon" viewBox="0 0 102 18">
                                <use xlink:href="#stars-all-star" fill="#9b9b9b" v-for="i in (5 - review.starRating)" v-bind:transform="'translate(' + (21 * (i - 1)) + ')'" />
                                <use xlink:href="#stars-full-star" fill="#424242" v-for="i in review.starRating" v-bind:transform="'translate(' + (21 * (i - 1)) + ')'" />
                            </svg>
                            {{review.title}}
                        </h3>
                        <p>{{review.body}}</p>
                        <div style="text-align: right; color: rgb(119, 119, 119); margin-top: 10px">{{lang.term('posted_by')}} {{review.username}} {{lang.term('at')}} {{review.dateString(lang.term('on'))}}</div>
                    </div>
                </div>
            </section>
            <footer>
                <svg v-bind:class="{'gray-bg': !accessibility.reduceNoise}" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline fill="white" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <section id="footer">
                    <h2>ENQUIRY</h2>
                    <a v-bind:href="'/' + lang + '/accessibility'">{{lang.term('accessibilitysettings')}}</a>
                    <a href="https://github.com/154852/iMedia">{{lang.term('contactus')}}</a>
                </section>
            </footer>
        </div>
        <script src="/assets/js/game.js"></script>
    </body>
</html>