<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ENQUIRY | Login</title>
        <link href="/assets/css/login.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/assets/js/bundle.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png" />

        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <div id="app">
            <nav>
                <a href="/">ENQUIRY</a>
                <div style="text-align: right;" v-if="!userCTX.isLoggedIn(false)"><a href="/login" class="inline">Log In</a> or <a href="/register" class="inline">Sign Up</a></div>
                <div style="text-align: right;" v-else><a @mouseup="userCTX.logout()" @touchend="userCTX.logout()">Log Out</a></div>
            </nav>
            <main>
                <svg class="background" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline class="gray-fill" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <div class="center" id="window" v-bind:class="{'error': error != null}" @keyup.enter="login">
                    <h1 style="text-align: center;">Login</h1>
                    <hr />
                    <p style="text-align: center;">Don't yet have an account? You can <a href="/register" class="inline">sign up here</a>.</p>
                    <hr style="margin-bottom: 10px;" />
                    <input type="text" placeholder="Email" v-model="email" />
                    <input type="password" placeholder="Password" v-model="password" />
                    <button @click="login">Login</button>
                    <p v-if="error != null" class="error-message">{{error}}</p>
                </div>
            </main>
            <footer>
                <svg class="gray-bg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline fill="white" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <section id="footer">
                    <h2>ENQUIRY</h2>
                    <a href="/accessibility">Accessibility Settings</a>
                    <a href="/contact">Contact Us</a>
                </section>
            </footer>
        </div>
        <script src="/assets/js/login.js"></script>
    </body>
</html>