<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ENQUIRY | Login</title>
        <link href="/assets/css/login.css" rel="stylesheet" type="text/css" />
        <script src="/assets/lib/vue.js"></script>
        <script src="/assets/js/bundle.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png" />

        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <div id="app" v-bind:class="{'reduceNoise': accessibility.reduceNoise}">
            <nav>
                <a v-bind:href="'/' + lang + '/'">ENQUIRY</a>
                <div style="text-align: right;" v-if="!userCTX.isLoggedIn(false)"><a v-bind:href="'/' + lang + '/login'" class="inline">{{lang.term('login')}}</a> {{lang.term('or')}} <a v-bind:href="'/' + lang + '/register'" class="inline">{{lang.term('signup')}}</a></div>
                <div style="text-align: right;" v-else><a @mouseup="userCTX.logout()" @touchend="userCTX.logout()">{{lang.term('logout')}}</a></div>
            </nav>
            <main>
                <svg v-if="!accessibility.reduceNoise" class="background" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline class="gray-fill" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <div class="center" id="window" v-bind:class="{'error': error != null && !accessibility.reduceNoise}" @keyup.enter="login">
                    <h1 style="text-align: center;">{{lang.term('login')}}</h1>
                    <hr v-if="!accessibility.reduceNoise" />
                    <p style="text-align: center;">{{lang.term('dont_have_account')}} <a v-bind:href="'/' + lang + '/register'" class="inline">{{lang.term('signup_here')}}</a></p>
                    <hr v-if="!accessibility.reduceNoise" style="margin-bottom: 10px;" />
                    <input type="text" v-bind:placeholder="lang.term('email')" v-model="email" />
                    <input type="password" v-bind:placeholder="lang.term('password')" v-model="password" />
                    <button @click="login">{{lang.term('login')}}</button>
                    <p v-if="error != null" class="error-message">{{error}}</p>
                </div>
            </main>
            <footer>
                <svg v-bind:class="{'gray-bg': !accessibility.reduceNoise}" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline fill="white" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <section id="footer">
                    <h2>ENQUIRY</h2>
                    <a v-bind:href="'/' + lang + '/accessibility'">{{lang.term('accessibilitysettings')}}</a>
                    <a href="https://github.com/154852/iMedia">{{lang.term('contactus')}}</a>
                </section>
            </footer>
        </div>
        <script src="/assets/js/login.js"></script>
    </body>
</html>