<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ENQUIRY | Search</title>
        <link href="/assets/css/search.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/assets/js/bundle.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png" />

        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <div id="app">
            <nav>
                <a v-bind:href="'/' + lang + '/'">ENQUIRY</a>
                <div style="text-align: right;" v-if="!userCTX.isLoggedIn(false)"><a v-bind:href="'/' + lang + '/login'" class="inline">{{lang.term('login')}}</a> {{lang.term('or')}} <a v-bind:href="'/' + lang + '/register'" class="inline">{{lang.term('signup')}}</a></div>
                <div style="text-align: right;" v-else><a @mouseup="userCTX.logout()" @touchend="userCTX.logout()">{{lang.term('logout')}}</a></div>
            </nav>
            <section id="landing">
                <svg class="background" style="top: 1px" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline class="gray-fill" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <h1 class="no-select center" id="background-accent">EQY</h1>
                <input type="text" class="search center" v-bind:placeholder="lang.term('search')" @input="search" v-model="query" />
            </section>
            <section class="gray-bg">
                <h2 style="text-align: center; margin: 0; padding-top: 10px; padding-bottom: 10px;">{{lang.term('search_results')}}</h2>
                <transition-group name="fade">
                    <a class="game no-hover" v-for="game in games" v-bind:href="'/' + lang + '/game/' + game.id" v-bind:key="game.id">
                        <img class="background image" v-bind:src="game.images[0]" v-bind:alt="game.name" onload="this.parentElement.classList.add('loaded')" />
                        <div class="background cover"></div>
                        <h2 class="center">{{game.name}}</h2>
                    </a>
                </transition-group>
                <div v-if="games.length == 0 && toAdd.length == 0">
                    <p style="text-align: center; margin: 0; padding-bottom: 10px; color: gray">{{lang.term('sorry_no_games_found')}}</p>
                </div>
            </section>
            <footer>
                <svg class="gray-bg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polyline fill="white" points="0,30 100,70 100,100 0,100"></polyline>
                </svg>
                <section id="footer">
                    <h2>ENQUIRY</h2>
                    <a v-bind:href="'/' + lang + '/accessibility'">{{lang.term('accessibilitysettings')}}</a>
                    <a v-bind:href="'/' + lang + '/contact'">{{lang.term('contactus')}}</a>
                </section>
            </footer>
        </div>
        <script src="/assets/js/search.js"></script>
    </body>
</html>